---
author: admin
layout: gallery
title: gallery
order: 6
---

<!--{%- comment -%}
filter pages based in layout
{%- endcomment -%}-->

{%- assign filteredPages = site.pages | where: "layout" , "gallery-item" | sort: 'title' -%}

<h1>Gallery</h1>
<section id="gallery-overview">
  {% for page in filteredPages %}
  {% if page.layout == 'gallery-item' %}
  {% if page.publish == true %}
  <a class="gallery-overview-item-wrapper" href="{{page.url}}">
  <div class="gallery-overview-item">
      <div class="heading-container">
        <h3 class="gallery-overview-title textshrink">{{page.title}}</h3>
        <p class="gallery-overview-authors">
          {%- for author in page.authors -%}
            {{author.name}}
            {%- if forloop.last == false -%}
            ,&nbsp;
            {%- endif -%}
          {%- endfor -%}
        </p>
      </div>
      <div class="gallery-overview-thumb" alt="{{page.title}} Thumbnail" style="background-image:url({{page.url}}/thumbnail.png);"></div>
        <!-- <img src="{{page.url}}/thumbnail.png" alt="{{page.title}} Thumbnail" class="gallery-thumbnail"> -->
        <p>{{page.description}}</p>
    </div>
  </a>
  {% endif %}
  {% endif %}
  {% endfor %}
</section>
