---
layout: default
title: Basil.js Reference
---

{% comment %}
![](./assets/images/out.gif)
* TOC
{:toc}
{% endcomment %}


<h2 id="cat-ndx">Categories</h2>
<!-- start categories index loop -->

{% for item in site.data.categories %}
{% assign id = item.cat | downcase %}
<a href="#{{id}}"><h3 id="{{id}}-ndx">{{item.cat}}</h3></a>
<ul>
<!-- start entries in cat loop -->
{% for entry in item.entries %}
{% assign eid = entry.name |downcase %}
<!-- end entry method test loop -->
<a href="#{{eid}}"><li id="{{eid}}-ndx">{{entry.codetitle}}</li></a>
{% endfor %}
<!-- end entries in cat loop -->
</ul>
{% endfor %}
<!-- end categories index loop -->


<h3 id="sub-cat-ndx">Sub-Categories</h3>
<!-- start items in sub cat loop -->
<ul>
{% for item in site.data.sub-categories %}
{% assign id = item.subcat | downcase %}
<li id="{{id}}-ndx">{{item.subcat}}</li>
{% endfor %}
<!-- end items in sub cat loop -->
</ul>

<!-- start item in cat loop -->
{% for item in site.data.categories %}
{% assign id = item.cat | downcase %}
<h3 id="{{id}}">{{item.cat}}</h3>


<!-- start entries in cat loop -->
{% for entry in item.entries %}
{% include entry-card.html entry=entry %}

{% comment %}
<div class="entry">
{% assign eid = entry.name |downcase %}
<a href="/{{id}}/{{entry.name}}.html"><h4 id="{{eid}}" class="entries">{{entry.codetitle}}</h4></a>
{% if entry.description != null %}
<p class="descriptions">{{entry.description}}</p>
{% endif %}
<!-- we test if the entry has a parameters -->
{% if entry.parameters.first %}
<div class="parameters">
<p>Parameter(s):</p>
<ul>
{% for param in entry.parameters %}
<li>{{param.name}} {% raw %}{{% endraw %}{% for type in param.type %}{{type}}{% unless forloop.last %} | {% endunless %}{% endfor %}{% raw %}}{% endraw %}{% if param.optional %} <em>Optional:</em>{%else%}:{% endif %}<br>{{param.description}}</li>{% endfor %}
</ul>
</div> <!-- end parameters div -->
{% endif %}
  {% if entry.returns != null %}
<div class="returns">
  <p>Returns:</p>
  <ul>
    <li>
    {% raw %}{{% endraw %}{% for type in entry.returns.type %}{{type}}{% unless forloop.last %} | {% endunless %}{% endfor %}{% raw %}}{% endraw %}:<br>
    {{entry.returns.description}}
    </li>
  </ul>
</div>
  {% endif %}
</div> <!-- end entry div -->
{% endcomment %}



{% endfor %}
<!-- end entries in cat loop -->

{% endfor %}
<!-- end item in cat loop -->

<script type="text/javascript">
var searchindex = {{site.data.categories | jsonify}};
</script>
