<aside>
  <div class="logo"></div>
  <div class="nav-o-meter"></div>
  <nav class="main-menu">
      <ul>
        <!--
        loop all pages
        exclude all entry layouts
        include  all default and the reference
        exclude the root path
        -->
      {% assign pages = site.pages | sort: 'order'  %}
      {% for item in pages %}{% if item.layout != 'entry' %}{%if item.layout == 'default' or item.layout == 'reference' %}{% if item.url != '/' %}
        <li class="menu-item {% if item.title == page.title %}active{% endif %}"><a href="{{item.url}}">{{item.title}}</a></li>
            {% endif %}{% endif %}{% endif %}{% endfor %}
      
      </ul>
    </nav>
        <div class="tweet">
        </div>
        <div class="fhnw-logo">
          <a href="http://www.fhnw.ch/hgk/ivk"><img src="/assets/images/fhnwlogo.png" alt="FHNW logo and link"></a>
        </div>
</aside>