<div class="entry">
{% assign eid = include.entry.name |downcase %}
<h4 id="{{eid}}" class="entries-title">{% if include.ispage == false %}<a href="/{{id}}/{{include.entry.name}}.html">{% endif %}{{include.entry.codetitle}}{% if include.ispage == false %}</a>{% endif %}</h4>
{% if include.entry.description != null %}
<p class="descriptions">{{include.entry.description}}</p>
{% endif %}
<!-- we test if the include.entry has a parameters -->
<div class="type">
  <p><strong>Type: {{ include.entry.kind  }}</strong></p>
</div>
{% if include.entry.parameters.first %}
<div class="parameters">
<p><strong>Parameter(s):</strong></p>
<ul>
{% for param in include.entry.parameters %}
<li><strong>{{param.name}}</strong> {% raw %}{{% endraw %}{% for type in param.type %}{{type}}{% unless forloop.last %} | {% endunless %}{% endfor %}{% raw %}}{% endraw %}{% if param.optional %} <em>Optional:</em>{%else%}:{% endif %}<br>{{param.description}}</li>{% endfor %}
</ul>
</div> <!-- end parameters div -->
{% endif %}
  {% if include.entry.returns != null %}
<div class="returns">
  <p><strong>Returns:</strong></p>
  <ul>
    <li>
    {% raw %}{{% endraw %}{% for type in include.entry.returns.type %}{{type}}{% unless forloop.last %} | {% endunless %}{% endfor %}{% raw %}}{% endraw %}:<br>
    {{include.entry.returns.description}}
    </li>
  </ul>
</div>
  {% endif %}
  {% if include.entry.examples.first %}
  <div class="examples">
  <p><strong>Example(s):</strong></p>
  {% for example in include.entry.examples %}
    <div class="example">
    {% if example.description %}
      <p><strong>{{example.description}}</strong></p>
{% endif %}
{% capture excode %}
```js
{{example.code}}
```
{% endcapture %}
{{excode | markdownify}}
    </div>
{% endfor %}

  </div> <!-- end example -->
  {% endif %}
{% if include.entry.todo %}
  <div class="todo">
    <p><strong>✎ Todo:</strong><br>
    {{include.entry.todo}}
    </p>
  </div> <!-- end todo -->
{% endif %}
</div> <!-- end entry div -->