.hline {
  background-color: #00FFFF;
}

.line{
  width: 1px;
  height: 100%;
  background-color: #9636FC;
  flex-basis: 1px; /* default auto */

}

.wrapper{
  display: flex;
  flex-direction: row;

}