.index {
    column-width: 250px;
}

.category {
    break-inside: avoid;
}

.reference-category {
    font-size: 1.3em !important;
}

.reference-subcategory {
    font-size: 1.1em !important;
    margin-left: 0.6em;
}

.reference-lists {
    margin-left: 1.2em;
}

h1#new-cat-index {
    padding-top: 0.37em;
}

.sub-category {
    column-width: 250px;
    column-rule: 1px dotted #9636FC;
    // column-gap: 1em;
    /* border-bottom: 1px dotted #9636FC; */
}

#toc-categories {
    column-width: 250px;
    padding-bottom: 3em;
    /* border-bottom: 1px dotted #9636FC; */
}

.heading-sub-category{
    padding-bottom: 1em;
}
.heading-category {
    border-top: 1px dotted #9636FC;
}

.cat {
    padding-top: 0.5em;
}

.cat-subcat {
    padding-bottom: 0.1em;
}

.subcat {
    padding-left: 0.5em;
    /* padding-bottom: 0em; */
}

.cat-group {
    break-inside: avoid;
}

.box-drawings {
    font-weight: bold;
    color: #9636FC;
}


/* .entry-heading{
     margin-top: 0;
    } */
.ref-entry{
    padding-bottom: 1em;
    height:7.5em;
    padding-left: 0.2em;
}
.summary,
.ref-entry {
    break-inside: avoid;
}

.summary {
    // min-height: 4.5em;
    // height: 4.5em;
    margin-top: 0.2em;
    font-size: 1.1em;
    margin-bottom:0;
    line-height: 1.25em;
    code{
        padding: 0;
        vertical-align: bottom;
        font-size: 0.9em;
    }
}

#flex-search {
    display: flex;
 * {
    margin-right: 0.5em;
 }
 button {
    margin-right: 0 !important;
    background-color: white;
    background: white;
    background-image: none;
    border: 1px solid #9636FC;
}

}

.flex-search-item,
.flex-search-item::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

input.flex-search-item {
    flex-grow: 2;
    border: 1px solid #9636FC;
}

button.flex-search-item {
    flex-grow: 1;
}

button.flex-search-item:hover {
    background: #9636FC !important;
    color: white;
}

button.flex-search-item:active {
    background: black !important;
}

#flex-search-results> .search-result-container > .ref-entry {
    padding-top: 0.5em;
    border-top: 1px dotted #9636FC;
}

#flex-search-results>.search-result-container>.ref-entry > p.summary {
    min-height: 0;
}

.search-result-container {
    padding-top: 1em;
}

#advanced-search-hint{
    input{
        display:none;
    }
    label{
        font-style: italic;
        border-bottom: 1px solid #9636FC;
        // text-decoration: underline;
        &:hover{
            background-image: url("/assets/images/stripe_c40ccfac0db9e43c48e95a530d787366.png");
        }
    }
}
#advanced-search-hint input[type="checkbox"]:checked + div {
    opacity: 0;
    max-height: 0;
    border: none;
  }

#advanced-search-text{
    max-height: 99em;
    height: auto;
    opacity: 1;
    overflow: hidden;
    transition: opacity .5s linear, max-height .5s linear;
}