.index{
  column-width: 250px;
 }
 .category{
     break-inside: avoid;
 }
 .reference-category{
     font-size: 1.3em !important;
 }
 .reference-subcategory{
     font-size: 1.1em !important;
     margin-left: 0.6em;

 }
 .reference-lists {
 margin-left: 1.2em;
 }