<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Basil.js</title>
    <meta name="description" content="basil.js docs">
    <meta name="author" content="Fabian Morón Zirfas">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.columnizer.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/highlight.js"></script>
    <script src="/assets/js/basiljs.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="main">
    <h1>{{page.title}}</h1>
      {{content}}
    </div>
    <div class="guidelines">
      <script src="/assets/js/gridline.js" type="text/javascript"></script>
    </div>
  </body>
</html>