<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Basil.js</title>
    <meta name="description" content="basil.js docs">
    <meta name="author" content="Fabian Morón Zirfas">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
  <h1>{{page.title}}</h1>
    <div class="main">
      {{content}}
    </div>
  </body>
</html>